//note that link colors for unsplash-attribution are not
//using css variables, since that messes up default link colors
//when variables are unset

body {
  color: #f4f5ec;
  background-color: #131313;
  @include background_color_transition;
  --main-bg-color: #131313;
  --pinned-controls-bg-color: #303030fc; //this is intentionally different from the background color, so controls are slightly lighter
  --main-text-color: #f4f5ec;
  --main-text-color-rgb: 240, 239, 240;
  --disabled-text-color: #666;
  --border-color: #ffffff24;
  --pinned-controls-border-color: #ffffff24;
}
.editor-white {
  color: #f4f5ec;
  background-color: #131313;
  --main-bg-color: #131313;
  --pinned-controls-bg-color: #303030fc; //this is intentionally different from the background color, so controls are slightly lighter
  --main-text-color: #f4f5ec;
  --main-text-color-rgb: 240, 239, 240;
  --disabled-text-color: #666;
  --border-color: #ffffff24;
  --pinned-controls-border-color: #ffffff24;
}
.editor-light {
  color: #f4f5ec;
  background-color: #131313;
  --main-bg-color: #131313;
  --pinned-controls-bg-color: #303030fc; //this is intentionally different from the background color, so controls are slightly lighter
  --main-text-color: #f4f5ec;
  --main-text-color-rgb: 240, 239, 240;
  --disabled-text-color: #666;
  --border-color: #ffffff24;
  --pinned-controls-border-color: #ffffff24;
}

.editor-dark {
  //tint of magenta #FF00FF
  color: #f4f5ec;
  background-color: #131313;
  --main-bg-color: #131313;
  --pinned-controls-bg-color: #303030fc; //this is intentionally different from the background color, so controls are slightly lighter
  --main-text-color: #f4f5ec;
  --main-text-color-rgb: 240, 239, 240;
  --disabled-text-color: #666;
  --border-color: #ffffff24;
  --pinned-controls-border-color: #ffffff24;
}

.editor-black {
  //tint of magenta #FF00FF
  color: #f4f5ec;
  background-color: #131313;
  --main-bg-color: #131313;
  --pinned-controls-bg-color: #303030fc; //this is intentionally different from the background color, so controls are slightly lighter
  --main-text-color: #f4f5ec;
  --main-text-color-rgb: 240, 239, 240;
  --disabled-text-color: #666;
  --border-color: #ffffff24;
  --pinned-controls-border-color: #ffffff24;
}

//colors links in dark and black themes
//can't use variables since we want to use default link colors
//for light themes
.editor-black,
.editor-dark {
  a {
    //tints of magenta #FF00FF
    &:link {
      color: #c1b8c1;
    }
    &:visited {
      color: #958e95;
    }
  }
}
